wsdl/LBTRAutenticacionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-6 (tags/2.2.0-6-7698; 2013-09-03T14:32:45+0000) JAXWS-RI/2.2.6-6 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-6 (tags/2.2.0-6-7698; 2013-09-03T14:32:45+0000) JAXWS-RI/2.2.6-6 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lbtr.bcrp.gob.pe" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LBTRAutenticacionService" targetNamespace="http://lbtr.bcrp.gob.pe">
<types>
<xsd:schema>
<xsd:import namespace="http://lbtr.bcrp.gob.pe" schemaLocation="../xsd/LBTRAutenticacionService.xsd"/>
</xsd:schema>
</types>
<message name="logoff">
<part element="tns:logoff" name="parameters"/>
</message>
<message name="logoffResponse">
<part element="tns:logoffResponse" name="parameters"/>
</message>
<message name="LBTRSessionException">
<part element="tns:LBTRSessionFault" name="fault"/>
</message>
<message name="logon">
<part element="tns:logon" name="parameters"/>
</message>
<message name="logonResponse">
<part element="tns:logonResponse" name="parameters"/>
</message>
<portType name="LBTRAutenticacionService">
<operation name="logoff">
<input message="tns:logoff" wsam:Action="tns:logoff"/>
<output message="tns:logoffResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRAutenticacionService/logoffResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRAutenticacionService/logoff/Fault/LBTRSessionException"/>
</operation>
<operation name="logon">
<input message="tns:logon" wsam:Action="tns:logon"/>
<output message="tns:logonResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRAutenticacionService/logonResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRAutenticacionService/logon/Fault/LBTRSessionException"/>
</operation>
</portType>
<binding name="LBTRAutenticacionServicePortBinding" type="tns:LBTRAutenticacionService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="logoff">
<soap:operation soapAction="tns:logoff"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
</operation>
<operation name="logon">
<soap:operation soapAction="tns:logon"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LBTRAutenticacionService">
<port binding="tns:LBTRAutenticacionServicePortBinding" name="LBTRAutenticacionServicePort">
<soap:address location="http://172.21.2.11:80/LBTRServiceWeb/LBTRAutenticacionService"/>
</port>
</service>
</definitions>
