wsdl/LBTRTransferenciaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-6 (tags/2.2.0-6-7698; 2013-09-03T14:32:45+0000) JAXWS-RI/2.2.6-6 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-6 (tags/2.2.0-6-7698; 2013-09-03T14:32:45+0000) JAXWS-RI/2.2.6-6 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lbtr.bcrp.gob.pe" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lbtr.bcrp.gob.pe" name="LBTRTransferenciaService">
<types>
<xsd:schema>
<xsd:import namespace="http://lbtr.bcrp.gob.pe" schemaLocation="../xsd/LBTRTransferenciaService.xsd"/>
</xsd:schema>
</types>
<message name="confirmarAbonoCliente">
<part name="parameters" element="tns:confirmarAbonoCliente"/>
</message>
<message name="confirmarAbonoClienteResponse">
<part name="parameters" element="tns:confirmarAbonoClienteResponse"/>
</message>
<message name="LBTRSessionException">
<part name="fault" element="tns:LBTRSessionFault"/>
</message>
<message name="LBTRServiceException">
<part name="fault" element="tns:LBTRServiceFault"/>
</message>
<message name="instruirTransferencia">
<part name="parameters" element="tns:instruirTransferencia"/>
</message>
<message name="instruirTransferenciaResponse">
<part name="parameters" element="tns:instruirTransferenciaResponse"/>
</message>
<message name="instruirTransferenciaCavali">
<part name="parameters" element="tns:instruirTransferenciaCavali"/>
</message>
<message name="instruirTransferenciaCavaliResponse">
<part name="parameters" element="tns:instruirTransferenciaCavaliResponse"/>
</message>
<portType name="LBTRTransferenciaService">
<operation name="confirmarAbonoCliente">
<input wsam:Action="tns:confirmarAbonoCliente" message="tns:confirmarAbonoCliente"/>
<output wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/confirmarAbonoClienteResponse" message="tns:confirmarAbonoClienteResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/confirmarAbonoCliente/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/confirmarAbonoCliente/Fault/LBTRServiceException"/>
</operation>
<operation name="instruirTransferencia">
<input wsam:Action="tns:instruirTransferencia" message="tns:instruirTransferencia"/>
<output wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/instruirTransferenciaResponse" message="tns:instruirTransferenciaResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/instruirTransferencia/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/instruirTransferencia/Fault/LBTRServiceException"/>
</operation>
<operation name="instruirTransferenciaCavali">
<input wsam:Action="tns:instruirTransferenciaCavali" message="tns:instruirTransferenciaCavali"/>
<output wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/instruirTransferenciaCavaliResponse" message="tns:instruirTransferenciaCavaliResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/instruirTransferenciaCavali/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRTransferenciaService/instruirTransferenciaCavali/Fault/LBTRServiceException"/>
</operation>
</portType>
<binding name="LBTRTransferenciaServicePortBinding" type="tns:LBTRTransferenciaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="confirmarAbonoCliente">
<soap:operation soapAction="tns:confirmarAbonoCliente"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="instruirTransferencia">
<soap:operation soapAction="tns:instruirTransferencia"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="instruirTransferenciaCavali">
<soap:operation soapAction="tns:instruirTransferenciaCavali"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LBTRTransferenciaService">
<port name="LBTRTransferenciaServicePort" binding="tns:LBTRTransferenciaServicePortBinding">
<soap:address location="http://172.21.2.11:80/LBTRServiceWeb/LBTRTransferenciaService"/>
</port>
</service>
</definitions>