wsdl/LBTRConsultasService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-6 (tags/2.2.0-6-7698; 2013-09-03T14:32:45+0000) JAXWS-RI/2.2.6-6 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-6 (tags/2.2.0-6-7698; 2013-09-03T14:32:45+0000) JAXWS-RI/2.2.6-6 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lbtr.bcrp.gob.pe" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LBTRConsultasService" targetNamespace="http://lbtr.bcrp.gob.pe">
<types>
<xsd:schema>
<xsd:import namespace="http://lbtr.bcrp.gob.pe" schemaLocation="../xsd/LBTRConsultasService.xsd"/>
</xsd:schema>
</types>
<message name="lbtr_AgentesBolsa">
<part element="tns:lbtr_AgentesBolsa" name="parameters"/>
</message>
<message name="lbtr_AgentesBolsaResponse">
<part element="tns:lbtr_AgentesBolsaResponse" name="parameters"/>
</message>
<message name="LBTRSessionException">
<part element="tns:LBTRSessionFault" name="fault"/>
</message>
<message name="LBTRServiceException">
<part element="tns:LBTRServiceFault" name="fault"/>
</message>
<message name="lbtr_CobroTarifa">
<part element="tns:lbtr_CobroTarifa" name="parameters"/>
</message>
<message name="lbtr_CobroTarifaResponse">
<part element="tns:lbtr_CobroTarifaResponse" name="parameters"/>
</message>
<message name="lbtr_Conceptos">
<part element="tns:lbtr_Conceptos" name="parameters"/>
</message>
<message name="lbtr_ConceptosResponse">
<part element="tns:lbtr_ConceptosResponse" name="parameters"/>
</message>
<message name="lbtr_CtasCtesEntidad">
<part element="tns:lbtr_CtasCtesEntidad" name="parameters"/>
</message>
<message name="lbtr_CtasCtesEntidadResponse">
<part element="tns:lbtr_CtasCtesEntidadResponse" name="parameters"/>
</message>
<message name="lbtr_NegCompraVentaME">
<part element="tns:lbtr_NegCompraVentaME" name="parameters"/>
</message>
<message name="lbtr_NegCompraVentaMEResponse">
<part element="tns:lbtr_NegCompraVentaMEResponse" name="parameters"/>
</message>
<message name="lbtr_SaldosCtaCte">
<part element="tns:lbtr_SaldosCtaCte" name="parameters"/>
</message>
<message name="lbtr_SaldosCtaCteResponse">
<part element="tns:lbtr_SaldosCtaCteResponse" name="parameters"/>
</message>
<message name="lbtr_Tarifario">
<part element="tns:lbtr_Tarifario" name="parameters"/>
</message>
<message name="lbtr_TarifarioResponse">
<part element="tns:lbtr_TarifarioResponse" name="parameters"/>
</message>
<message name="lbtr_TipoCambio">
<part element="tns:lbtr_TipoCambio" name="parameters"/>
</message>
<message name="lbtr_TipoCambioResponse">
<part element="tns:lbtr_TipoCambioResponse" name="parameters"/>
</message>
<message name="lbtr_FacilidadesDisponibles">
<part element="tns:lbtr_FacilidadesDisponibles" name="parameters"/>
</message>
<message name="lbtr_FacilidadesDisponiblesResponse">
<part element="tns:lbtr_FacilidadesDisponiblesResponse" name="parameters"/>
</message>
<message name="lbtr_MovimientosCtaCte">
<part element="tns:lbtr_MovimientosCtaCte" name="parameters"/>
</message>
<message name="lbtr_MovimientosCtaCteResponse">
<part element="tns:lbtr_MovimientosCtaCteResponse" name="parameters"/>
</message>
<message name="lbtr_EntidadesFinancieras">
<part element="tns:lbtr_EntidadesFinancieras" name="parameters"/>
</message>
<message name="lbtr_EntidadesFinancierasResponse">
<part element="tns:lbtr_EntidadesFinancierasResponse" name="parameters"/>
</message>
<message name="lbtr_Monedas">
<part element="tns:lbtr_Monedas" name="parameters"/>
</message>
<message name="lbtr_MonedasResponse">
<part element="tns:lbtr_MonedasResponse" name="parameters"/>
</message>
<message name="lbtr_OperacionesOtorgadas">
<part element="tns:lbtr_OperacionesOtorgadas" name="parameters"/>
</message>
<message name="lbtr_OperacionesOtorgadasResponse">
<part element="tns:lbtr_OperacionesOtorgadasResponse" name="parameters"/>
</message>
<message name="lbtr_OperacionesRecibidas">
<part element="tns:lbtr_OperacionesRecibidas" name="parameters"/>
</message>
<message name="lbtr_OperacionesRecibidasResponse">
<part element="tns:lbtr_OperacionesRecibidasResponse" name="parameters"/>
</message>
<portType name="LBTRConsultasService">
<operation name="lbtr_AgentesBolsa">
<input message="tns:lbtr_AgentesBolsa" wsam:Action="tns:lbtr_AgentesBolsa"/>
<output message="tns:lbtr_AgentesBolsaResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_AgentesBolsaResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_AgentesBolsa/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_AgentesBolsa/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_CobroTarifa">
<input message="tns:lbtr_CobroTarifa" wsam:Action="tns:lbtr_CobroTarifa"/>
<output message="tns:lbtr_CobroTarifaResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_CobroTarifaResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_CobroTarifa/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_CobroTarifa/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_Conceptos">
<input message="tns:lbtr_Conceptos" wsam:Action="tns:lbtr_Conceptos"/>
<output message="tns:lbtr_ConceptosResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_ConceptosResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_Conceptos/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_Conceptos/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_CtasCtesEntidad">
<input message="tns:lbtr_CtasCtesEntidad" wsam:Action="tns:lbtr_CtasCtesEntidad"/>
<output message="tns:lbtr_CtasCtesEntidadResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_CtasCtesEntidadResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_CtasCtesEntidad/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_CtasCtesEntidad/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_NegCompraVentaME">
<input message="tns:lbtr_NegCompraVentaME" wsam:Action="tns:lbtr_NegCompraVentaME"/>
<output message="tns:lbtr_NegCompraVentaMEResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_NegCompraVentaMEResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_NegCompraVentaME/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_NegCompraVentaME/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_SaldosCtaCte">
<input message="tns:lbtr_SaldosCtaCte" wsam:Action="tns:lbtr_SaldosCtaCte"/>
<output message="tns:lbtr_SaldosCtaCteResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_SaldosCtaCteResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_SaldosCtaCte/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_SaldosCtaCte/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_Tarifario">
<input message="tns:lbtr_Tarifario" wsam:Action="tns:lbtr_Tarifario"/>
<output message="tns:lbtr_TarifarioResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_TarifarioResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_Tarifario/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_Tarifario/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_TipoCambio">
<input message="tns:lbtr_TipoCambio" wsam:Action="tns:lbtr_TipoCambio"/>
<output message="tns:lbtr_TipoCambioResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_TipoCambioResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_TipoCambio/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_TipoCambio/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_FacilidadesDisponibles">
<input message="tns:lbtr_FacilidadesDisponibles" wsam:Action="tns:lbtr_FacilidadesDisponibles"/>
<output message="tns:lbtr_FacilidadesDisponiblesResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_FacilidadesDisponiblesResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_FacilidadesDisponibles/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_FacilidadesDisponibles/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_MovimientosCtaCte">
<input message="tns:lbtr_MovimientosCtaCte" wsam:Action="tns:lbtr_MovimientosCtaCte"/>
<output message="tns:lbtr_MovimientosCtaCteResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_MovimientosCtaCteResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_MovimientosCtaCte/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_MovimientosCtaCte/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_EntidadesFinancieras">
<input message="tns:lbtr_EntidadesFinancieras" wsam:Action="tns:lbtr_EntidadesFinancieras"/>
<output message="tns:lbtr_EntidadesFinancierasResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_EntidadesFinancierasResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_EntidadesFinancieras/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_EntidadesFinancieras/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_Monedas">
<input message="tns:lbtr_Monedas" wsam:Action="tns:lbtr_Monedas"/>
<output message="tns:lbtr_MonedasResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_MonedasResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_Monedas/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_Monedas/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_OperacionesOtorgadas">
<input message="tns:lbtr_OperacionesOtorgadas" wsam:Action="tns:lbtr_OperacionesOtorgadas"/>
<output message="tns:lbtr_OperacionesOtorgadasResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_OperacionesOtorgadasResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_OperacionesOtorgadas/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_OperacionesOtorgadas/Fault/LBTRServiceException"/>
</operation>
<operation name="lbtr_OperacionesRecibidas">
<input message="tns:lbtr_OperacionesRecibidas" wsam:Action="tns:lbtr_OperacionesRecibidas"/>
<output message="tns:lbtr_OperacionesRecibidasResponse" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_OperacionesRecibidasResponse"/>
<fault message="tns:LBTRSessionException" name="LBTRSessionException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_OperacionesRecibidas/Fault/LBTRSessionException"/>
<fault message="tns:LBTRServiceException" name="LBTRServiceException" wsam:Action="http://lbtr.bcrp.gob.pe/LBTRConsultasService/lbtr_OperacionesRecibidas/Fault/LBTRServiceException"/>
</operation>
</portType>
<binding name="LBTRConsultasServicePortBinding" type="tns:LBTRConsultasService">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="lbtr_AgentesBolsa">
<soap:operation soapAction="tns:lbtr_AgentesBolsa"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_CobroTarifa">
<soap:operation soapAction="tns:lbtr_CobroTarifa"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_Conceptos">
<soap:operation soapAction="tns:lbtr_Conceptos"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_CtasCtesEntidad">
<soap:operation soapAction="tns:lbtr_CtasCtesEntidad"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_NegCompraVentaME">
<soap:operation soapAction="tns:lbtr_NegCompraVentaME"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_SaldosCtaCte">
<soap:operation soapAction="tns:lbtr_SaldosCtaCte"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_Tarifario">
<soap:operation soapAction="tns:lbtr_Tarifario"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_TipoCambio">
<soap:operation soapAction="tns:lbtr_TipoCambio"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_FacilidadesDisponibles">
<soap:operation soapAction="tns:lbtr_FacilidadesDisponibles"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_MovimientosCtaCte">
<soap:operation soapAction="tns:lbtr_MovimientosCtaCte"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_EntidadesFinancieras">
<soap:operation soapAction="tns:lbtr_EntidadesFinancieras"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_Monedas">
<soap:operation soapAction="tns:lbtr_Monedas"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_OperacionesOtorgadas">
<soap:operation soapAction="tns:lbtr_OperacionesOtorgadas"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
<operation name="lbtr_OperacionesRecibidas">
<soap:operation soapAction="tns:lbtr_OperacionesRecibidas"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="LBTRSessionException">
<soap:fault name="LBTRSessionException" use="literal"/>
</fault>
<fault name="LBTRServiceException">
<soap:fault name="LBTRServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="LBTRConsultasService">
<port binding="tns:LBTRConsultasServicePortBinding" name="LBTRConsultasServicePort">
<soap:address location="http://172.21.2.11:80/LBTRServiceWeb/LBTRConsultasService"/>
</port>
</service>
</definitions>
